RewriteEngine on

# Main pages
RewriteRule Accueil /controllers/homeCtrl.php [L]
RewriteRule Inscription /controllers/registrerCtrl.php [L]
RewriteRule Connexion /controllers/loginCtrl.php [L]
RewriteRule Lieux_et_horaires /controllers/placeDateCtrl.php [L]
RewriteRule Prestations /controllers/prestationsCtrl.php [L]
RewriteRule Rendez_vous /controllers/rendezVousCtrl.php [L]
RewriteRule Avis /controllers/reviewsCtrl.php [L]

# Dashboard
RewriteRule ^Dashboard$ /controllers/dashboard/dashboardHomeCtrl.php [L]
# Clients
RewriteRule Dashboard/AddClient /controllers/dashboard/clients/addCtrl.php [L]
RewriteRule Dash/EditClient /controllers/dashboard/clients/clientsCtrl.php [L]

# RewriteRule Dashboard/Clients /controllers/dashboard/clientsCtrl.php
# RewriteRule Dashboard/Client /controllers/dashboard/clientCtrl.php


ErrorDocument 404 /404page.html