

fieldset{
    font-family: Belleza; /* ZONE DE FORMULAIRE FIELDSET- Police de caractères */
}

table{
    width: 100%;
}

tr{
    height: 30px;
}

#formHr{
    color: #fbbc04;
}

#contactSubmit{
    width: 40%;
}

input.inputForm, label, textarea{
    width: 80%;
}

td a{
    text-decoration: none;
    color: #fbbc04;
}

td a:hover{
    color: #484848;
}

#contactSubmit{
    background-color: transparent;
    color: #fff;
    border-color: #fbbc04;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    width: 50%;
}

#contactSubmit:hover{
    background-color: #484848;
    color: #fbbc04;
}