body{
    margin: 0;
    padding: 0;
    background-color: #F5EFED;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    animation: switchColor 0.1s infinite;
}
@keyframes switchColor{
    0% {
        background-color: red;
    }
    100%{
        background-color: black;
    }
}

h1{
    font-size: xxx-large;
    font-weight: bolder;
    animation: switchColor2 0.1s infinite;
}
@keyframes switchColor2{
    0% {
        color: rgb(0, 0, 0);
    }
    100%{
       color: rgb(255, 255, 255);
    }
}