@media screen and (min-width : 990px) {
    .navbar-collapse{
        justify-content: space-between;

    }

    .navbar-nav{
        margin-left: 0;
        font-size: 1.1rem;
    }

    .nav-item{
        width: auto!important;
        align-items: center;
    }

    /* form{
        width: 80vw;
        margin: 0 auto;
    } */
    
}