/* GLOBAL */
/* Appel d'une nouvelle police de caractères qui s'appelera 'Belleza' */
@font-face {
    font-family: Belleza;
    src: url('../font/Belleza/Belleza-Regular.ttf');
}

/* MAIN.HTML */
body{
    background-color: #242424; /* Couleur du background dans toute la page */
    color: #fff; /* Couleur par défaut dans tout le body */
}

h2{
    font-family: Belleza; /* TITRE H2 - Police de caractères */
}

h3{
    font-family: Belleza; /* TITRE H3 - Police de caractères */
}

p{
    font-family: Belleza; /* PARAGRAPHE P - Police de caractères */
}

button{
    font-family: Belleza; /* BOUTON BUTTON - Police de caractères */
}

fieldset{
    font-family: Belleza; /* ZONE DE FORMULAIRE FIELDSET- Police de caractères */
}

.hr{ /* DIV contenant les HR */
    display: flex;
    justify-content: center ;
    height: 1px;
}

hr{
    margin: 0;
    color: #fbbc04;
    width: 80vw;
}

.fa-calendar-check{
    color: #fbbc04!important;
    font-size: 2rem;
}

.fa-calendar-check:hover{
    font-weight: 800;
}

/* PLACE & DATE */
.placeDateSection1Head{
    background: url(../img/photos/pexels-photo-4542998.webp) no-repeat center;
    height: 240px;
}

.openingHours{
    background-color: #727272;
    opacity: 0.75;
    margin: 3vw;
    width: 94vw;
}

.openingHours li{
    list-style-type: none;
}

.place{
    background-color: #484848;
}

.metroMap Img{
    width: 100vw;
}