/* GLOBAL */
/* Appel d'une nouvelle police de caractères qui s'appelera 'Belleza' */
@font-face {
    font-family: Belleza;
    src: url('../font/Belleza/Belleza-Regular.ttf');
}


/* MAIN.HTML */
body{
    background-color: #242424; /* Couleur du background dans toute la page */
    color: #fff; /* Couleur par défaut dans tout le body */
}

h2{
    font-family: Belleza; /* TITRE H2 - Police de caractères */
}

h3{
    font-family: Belleza; /* TITRE H3 - Police de caractères */
}

p{
    font-family: Belleza; /* PARAGRAPHE P - Police de caractères */
}

button{
    font-family: Belleza; /* BOUTON BUTTON - Police de caractères */
}

fieldset{
    font-family: Belleza; /* ZONE DE FORMULAIRE FIELDSET- Police de caractères */
}

.hr{ /* DIV contenant les HR */
    display: flex;
    justify-content: center ;
    height: 1px;
}

hr{
    margin: 0;
    color: #fbbc04;
    width: 80vw;
}

/* REGISTRATION */
form{
    max-width: 800px;
    margin: 0 auto;
}

.loginFieldset{
    font-size: 1.25rem;
    color: #fff;
}

label{
    width: 80%;
    position: relative;
    left: 0.7rem;
    font-family: belleza;
    font-size: 0.75rem;
    color: #fbbc04;
}

input{
    width: 80%;
    border-radius: 0.3rem;
    height: 2.625rem;
    padding-left: 0.5rem;
}

.registrationBtn{
    background-color: transparent;
    font-size: 1.25rem;
    color: #fff;
    border-color: #fbbc04;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    /* width: 65%; */
}

.registrationSmall{
    font-family: Belleza;
    font-size: 0.7rem;
    color: #fbbc04;
}

.alreadyRegistered{
    color: #fbbc04;
}

 #alreadyRegistered:hover{
    color:#fff;
    border: #fbbc04 0.3px solid;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

#loginBtn:hover, #registrerBtn:hover{
    background-color: #484848;
    color: #fbbc04;
}