body{
    color: white;
    font-family: Belleza;
}

/* RENDEZ VOUS */
.placeDateSection1Head{
    background: url(../img/photos/pexels-photo-4542998.webp) no-repeat center;
    height: 5rem;
}

.onlyRdv{
    background-image: url(../img/rdv1.jpg);
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem 0.3rem 1rem 0.3rem;
}

.place{
    background-color: #484848;
}

fieldset{
    width: 100%;
}

.prestaField{
    margin: 0 auto;
    background-color:#484848;
    width: 80%;
    max-width: 400px;
}

body{
    color: white;
    font-family: Belleza;
}

/* RENDEZ VOUS */
.placeDateSection1Head{
    background: url(../img/photos/pexels-photo-4542998.webp) no-repeat center;
    height: 5rem;
}

.onlyRdv{
    background-image: url(../img/rdv1.jpg);
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem 0.3rem 1rem 0.3rem;
}

.place{
    background-color: #484848;
}

.prestaField{
    background-color:#484848;
}

.labels{
    width: 80%;
}


/* Date heure demande de rendez vous */
input#appointment{
    width: 50%;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: #fbbc04;
    background-color: #484848;
    border: none;
    /* box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 10px 2px; */
}

select#hour, select#minutes{
    height: 2rem;
    color: #fbbc04;
    background-color: #484848;
    border: 1px solid #484848;
    /* box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 10px 2px; */
}

#btnRdvSubmit{
    color: #fbbc04;
    background-color: #484848;
}
#btnRdvSubmit:hover{
    color: #484848;
    background-color: #fbbc04;
}