/* REVIEW */
.reviewCard{
    background-color: #484848;
}

.reviewRow{
    padding: 0.2rem;
}

.reviewNickname, .reviewDate, .reviewComment{
    background-color: #242424;
    padding: 0 0.1rem;
}

.reviewComment{
    height: 3rem;
}

#reviewBtn{
    background-color: transparent;
    color: #fff;
    border-color: #fbbc04;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    /* width: 50%; */
}

p{
    color: #fff;
    font-family: Belleza;
}

#reviewForm button i{
    text-decoration: none;
    color: #fbbc04!important;
}

button{
    background-color: transparent;
    border: none;
}

#reviewBtn:hover{
    background-color: #484848;
    color: #fbbc04;
}

input[type=text], textarea{
    width: 50%;
}
