body{
    color: white;
}

/* Clients List */
.tableClients{
    width: 96%;
    margin: 2vw;
}

tr>th{
    border-top: #fbbc04 solid 1px;
    border-bottom: #fbbc04 solid 1px;
}

th{
    padding: 1rem 0;
}

td{
    padding: 0.5rem 0;
}

.tdName{
    justify-content: start;
}

.trClient2{
    background-color: #363636;
}

td>a{
    color: #fbbc04!important;
}

td>a:hover, td>button:hover{
    color: #fbbd0486!important;
}

td>button{
    background-color: transparent;
    border: none;
}

.trClient1:hover, .trClient2:hover{
    background-color: #646464;
    color: #fbbc04!important;
}

#numeroPageMax, #numeroPage{
    color: white;
    background-color: transparent;
    border: none;
    width:4rem;
}

#numeroPage{
    width: 3rem;
}

/* FORM */
input{
width: 30%;
height: 2rem;
}


/* Couleur de l'enveloppe de l'email en fonction si l'inscription a été validé ou pas */
.fa-envelope.noValidate{
    color: red;
}

.fa-envelope.validate{
    color: greenyellow;
}

.fa-envelope:hover{
    color: #fbbc04;
}

#addClientBtn:hover{
    color: #fbbc04!important;
    background-color: #646464;
}

/* Champs de recherche */
#live_search{
    border-color: #fbbc04;
}

/* Nombre d'éléments à afficher */
#itemsPerPage, #itemsPerPage:valid{
    border-color: #fbbc04!important;
    background-color: #242424;
    color: white;
}

a{
    text-decoration: none;
}