body{
    color: white;
}

/* Clients List */
.tableClients{
    width: 96%;
    margin: 2vw;
}

tr>th{
    border-top: #fbbc04 solid 1px;
    border-bottom: #fbbc04 solid 1px;
}

th{
    padding: 1rem 0;
}

td{
    padding: 0.5rem 0;
}

.tdName{
    justify-content: start;
}

.trClient2{
    background-color: #363636;
}

td>a{
    color: #fbbc04!important;
}

td>a:hover{
    color: #fbbd0486!important;
}

.trClient1:hover, .trClient2:hover{
    background-color: #646464;
    color: #fbbc04!important;
}

#numeroPageMax, #numeroPage{
    color: white;
    background-color: transparent;
    border: none;
    width:4rem;
}

#numeroPage{
    width: 3rem;
    
}
